<div class="home-content">
	<h1>"FIRST WE EAT AND </h1>
	<h1>THEN WE DO EVERTHING ELSE"</h1>
	<i>MICK FISHER</i>
	<p></p>
	<p></p>
	<a href="/menu"><button type="button" class="btn btn-outline-info btn-lg">MENU</button></a>
</div>
