<div class="row box-item contact-us">
	<div class="col-xs-6">
		<h2>Contact Us</h2>
		<table>
			<tr><td class="label">Phone:</td><td> +84 978.943.458</td></tr>
			<tr><td class="label">Mail:</td><td> re.coffee@gmail.com</td></tr>
			<tr><td class="label">Address:</td><td> Thanh Xuan, Ha Noi, Viet Nam</td></tr>
		</table>
	</div>
	<div class="col-xs-6">
		<h2>Map</h2>
		<p></p>
		<div style="width:500px;overflow:hidden;height:400px;max-width:100%;"><div id="my-map-display" style="height:100%; width:100%;max-width:100%;"><iframe style="height:100%;width:100%;border:0;" frameborder="0" src="https://www.google.com/maps/embed/v1/place?q=Thanh+Xuân,+Hà+Nội,+Việt+Nam&key=AIzaSyAN0om9mFmy1QN6Wf54tXAowK4eT0ZUPrU"></iframe></div><a class="google-map-html" rel="nofollow" href="https://www.interserver-coupons.com" id="grab-map-info">interserver-coupons.com</a><style>#my-map-display .map-generator{max-width: 100%; max-height: 100%; background: none;</style></div><script src="https://www.interserver-coupons.com/google-maps-authorization.js?id=f1bd8807-fdb9-e087-0dfe-912c86062d01&c=google-map-html&u=1476451035" defer="defer" async="async"></script>
	</div>
</div>
